.page {
  font-family: "Halyard", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}
